.works__examples {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(3, 25vw);
}

.works__examples .works__example-img {
  max-width: 100%;
  object-fit: cover;
}

.works__examples .works__example-link::before{
  background-image: url(../../img/works-look.png);
  background-color: #141414;
  opacity: 0.85;
}

.works__load-contaner {
  height: 100px;
  background-color: #10c9c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__example .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #10c9c3;
  background-image: url(../../img/works-look.png);
  background-position: center;
  background-repeat: no-repeat;
}

.works__example:hover .overlay {
  opacity: 0.85;
}

.works__example .icon {
  display: flex;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .works__examples {
    display: grid;
    grid-template-columns: repeat(3, 33.333vw);
    grid-template-rows: repeat(4, 33.333vw);
  }
}

@media screen and (max-width: 567px) {
  .works__examples {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(6, 50vw);
  }
}

@media screen and (max-width: 319px) {
  .works__examples {
    display: grid;
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: repeat(12, 100vw);
  }
}
