@font-face {
  font-family: 'Montserrat-Medium';
  src: url(Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'NunitoSans-Regular';
  src: url(Nunito_Sans/NunitoSans-Regular.ttf);
}
