.content {
  padding-bottom: 6.5rem;
  height: max-content;
  display: grid;
  background-color: #f5f5f5;
  grid-template: "info form"
                 "map map";
}

.content .contact__info {
  grid-area: info;
}

.content .need__project {
  grid-area: form;
}

.content .contact__map {
  grid-area: map;
}

@media screen and (max-width: 827px) {
  .content {
    grid-template: "info"
                   "form"
                   "map";
  }
}
