.need-project {
  height: 751px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .need-project__title {
    margin: 0;
    padding: 0;
    margin-top: 101px;
    color: #1d1d1d;
    font-family: 'Montserrat-Bold';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  .need-project__description {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    color: #787878;
    font-family: "NunitoSans-Regular";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08px;
    width: 34em;
    text-align: center;
  }

  .need-project__form {
    margin-top: 38px;
    width: 670px;
    display: grid;
    grid-template: "name email"
                   "title title"
                   "comment comment"
                   "submit submit";
    grid-gap: 30px 30px;
    grid-template-rows: 48px 48px 170px 54px;
  }

  .need-project__form-input.input__name {
    grid-area: name;
  }

  .need-project__form-input.input__email {
    grid-area: email;
  }

  .need-project__form-input.input__title {
    grid-area: title;
  }

  .need-project__form-input.input__comment {
    grid-area: comment;
    resize: none;
    height: 170px;
    padding: 18px 20px;
    box-sizing: border-box;
  }

  .need-project__form-submit.input__submit {
    grid-area: submit;
    border: none;
    width: 180px;
    height: 54px;
    background-color: #10c9c3;
    color: #ffffff;
    font-family: 'Montserrat-Medium';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 0 auto;
  }

  .need-project__form-input {
    padding: 0 20px;
    border: none;
    height: 48px;
    color: #787878;
    font-family: "NunitoSans-Regular";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.07px;
  }


@media screen and (min-width: 1920px) {
  .need-project__title { font-size: 34px; }
  .need-project__description { font-size: 20px; }
  .need-project__form { width: 760px; }
  .need-project__form-input { font-size: 18px; }
  .need-project__form-submit { font-size: 16px; }
}

@media screen and (max-width: 1024px) {
  .need-project__title { margin-top: 85px; }
  .need-project__description { font-size: 16px; width: 65.43vw; }
  .need-project__form { width: 65.43vw; }
}


@media screen and (max-width: 767px) {
  .need-project__title { margin-top: 65px; font-size: 24px}
  .need-project__description { font-size: 14px; }
  .need-project__form { width: 440px; }
  .need-project__form-input { font-size: 14px; }
  .need-project__form-submit { font-size: 12px; }
}


@media screen and (max-width: 513px) {
  .need-project { height: 791px; }
  .need-project__form {
    width: 90vw;
    grid-template: "name"
                   "email"
                   "title"
                   "comment"
                   "submit";
  }

}
