.numbers {
  height: 240px;
  background-color: #10c9c3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
}

.numbers__item {
  display: flex;
  align-items: center;
  height: 36px;
  color: #ffffff;
  position: relative;
}

  .numbers__item-info {
    margin-left: 2vw;
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 26px;
}


@media screen and (min-width: 1920px) {
  .numbers__item-info {
    font-size: 14px;
  }

  .numbers__item {
    height: 44px;
  }

  .numbers__item-picture {
    height: 44px;
  }
}

@media screen and (max-width: 1024px) {
  .numbers__item-info {
    font-size: 10px;
  }

  .numbers__item {
    height: 34px;
  }

  .numbers__item-picture {
    height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .numbers {
    height: 160px;
  }

  .numbers__item {
    height: 30px;
  }

  .numbers__item-picture {
    height: 30px;
  }
}

@media screen and (max-width: 615px) {
  .numbers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: ;
  }

  .numbers__item {
    justify-self: center;
  }
}

@media screen and (max-width: 562px) {
  .numbers {
    padding: 10px 20px;
  }

  .numbers__item-info {
    line-height: 18  px;
    letter-spacing: 0.5px;
  }

  .numbers__item-picture {
    height: 25px;
  }
}
