.skills {
  height: 570px;
  background-color: #f8f9f9;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills__professional {
  margin-left: 7.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills__photo {
  height: 100%;
  position: absolute;
  max-width: 100%;
  object-fit: cover;
}

.skills__professional-title {
  margin: 0;
  color: #171717;
  font-family: 'Montserrat-Bold';
  font-size: 30px;
  letter-spacing: 0.3px;
}

.skills__professional-name {
  margin: 0;
  margin-bottom: 19px;
  margin-top: 41px;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  color: #000000;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.skills__professional_design { width: 75%; }
.skills__professional_web { width: 90%; }
.skills__professional_marketing { width: 65%; }


@media screen and (min-width: 1920px) {
  .skills__professional-name {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .skills {
      height: 380px;
  }

  .skills__professional-title {
    font-size: 26px;
  }

  .skills__professional-name {
    margin: 0;
    margin-bottom: 15px;
    margin-top: 31px;
  }
}
