body {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Montserrat-Medium';
}

.container {
  padding: 0 7.2vw;
  font-family: 'Montserrat-Medium';
}

.progress {
  height: 3px;
  width: 37vw;
  position: relative;
}

  .progress .progress_bg {
    background-color: #d8d8d8;
    position: absolute;
    height: inherit;
    width: inherit;
  }

  .progress .progress_color {
    background-color: #10c9c3;
    position: absolute;
    z-index: 1;
    height: inherit;
  }

.ratio_image {
  display: flex;
  position: relative;
}

  .ratio_image img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }


.details {
  font-size: 1rem;
  margin-top: 1em;
  font-size: 1rem;
  font-family: "NunitoSans-Regular";
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 1.875em;
  color: #787878;
}

  .details-item strong {
    color: #171717;
  }


  @media screen and (max-width: 1023px) {
    :root { font-size: 14px;   }
  }

  @media screen and (max-width: 767px) {
    :root { font-size: 12px;   }
  }
