.testimonials {
  height: 500px;
  background-color: #10c9c3;
}

  .testimonials__quote {
    padding-top: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__quote-text {
    margin: 0;
    padding: 0;
    width: 63.5vw;
    color: #ffffff;
    font-family: 'Montserrat-Medium';
    font-size: 23px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.24px;
    text-align: center;
  }

  .testimonials__quote-author {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    color: #ffffff;
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }


@media screen and (min-width: 1920px) {
  .testimonials__quote-text { font-size: 26px; }
  .testimonials__quote-author { font-size: 14px; }
}

@media screen and (max-width: 1024px) {
  .testimonials { height: 400px; }
  .testimonials__quote { padding-top: 118px; }
  .testimonials__quote-text { font-size: 20px; }
  .testimonials__quote-author { font-size: 12px; }
}

@media screen and (max-width: 767px) {
.testimonials__quote { padding-top: 108px; }
  .testimonials__quote-text { font-size: 18px; }
  .testimonials__quote-author { font-size: 11px; }
}
